@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border-top-color: #3490dc; /* Customize the color as needed */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.leveltable{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #3490dc;
    margin-top: 20px;
}